<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Chat App!</h1>
    <form id="chat">
        <input type="text" placeholder="Enter the message you want to send!" name="chatMessage" style="width: 300px;">
        <button>Send</button>
    </form>
    <button id="sendLocation">Share your location</button>
    <!-- Here we load the server side version of the Socket.io library, to make the clients
    connections to the server possible -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chatClientSide.js"></script>
</body>
</html>